%h1 Listing snippets

%table
  %tr
    %th Title
    %th Status
    %th
    %th
    %th

  - @snippets.each do |snippet|
    %tr
      %td= snippet.title
      %td= snippet.last_execution.status_message
      %td= link_to 'Show', snippet
      %td= link_to 'Edit', edit_snippet_path(snippet)
      %td= link_to 'Destroy', snippet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Snippet', new_snippet_path
