%p#notice= notice

%p
  %b Parent:
  = @snippet.parent_id
%p
  %b Title:
  = @snippet.title
%p
  %b Description:
  = @snippet.description
%p
  %b Code:
  %pre
    %code
      = @snippet.code
%p
  - execution = @snippet.last_execution
  %b
    Result:
  #{execution.status_message},
  = execution.updated_at
  %pre
    = execution.stderr
    = execution.stdout

= link_to 'Edit', edit_snippet_path(@snippet)
\|
= link_to 'Back', snippets_path
